body {
  background-color:rgb(236, 237, 225)
}

h1
{
  color: green;
  font-family: 'Bebas Neue';
}

/* this is a class */
.container
{
  font-family: 'Lacquer', sans-serif;
  margin: auto;
  padding: 8px;
  background-color: rgb(247, 221, 229);
  width: 40%;
  box-shadow: 10px 15px 5px 5px rgb(194, 221, 212);
  border-radius: 6px
}

.container h1{
  font-size: 8em;
}

.sidebar {
  float: right;
  margin: auto;
  margin-left: 20px;
  padding: 20px;
  background-color: rgb(199, 218, 222);
  width: 25%;
  box-shadow: 10px 15px 5px 5px rgb(141, 145, 127);
  border-radius: 8px;
  animation: 3s linear 1s infinite running slideine;
}

.navigation {
  display: table;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.horizontalLine {
  padding-top: 20px;
}

.horizontalLine li {
  display: inline;
  margin: 40px;
  padding: 20px 60px 20px 60px;
  background-color: white;
  width: 10%;
}

.horizontalLine li a  {
  color: gray;
  text-decoration: none;
  font-family: sans-serif;
}

.horizontalLine li a:hover {
  color: green;
}


/* this is id */
#pb{
  background-color: pink;
  width: 400px;
}
